select {
  appearance: none; /* Removes default styling of select */
  -webkit-appearance: none; /* For Safari/Chrome */
  -moz-appearance: none; /* For Firefox */
  padding-right: 2rem; /* Adds space for the arrow */
  /* background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4gPHBhdGggZmlsbD0iI0QwRDBEMCIgZD0iTTEwLjg2NyA2Ljc2NmwtMi44NzQgMi44NzQtMi44NzQtMi44NzQtLjg2Ny44NjcgMy43NSAzLjc1IDMuNzUtMy43NS0uODY3LS44Njd6Ii8+IDwvc3ZnPg==') no-repeat right 0.5rem center;
  background-size: 1.3rem;
  border: 1px solid #ccc;
  border-radius: 4px; */
}

select:focus {
  outline: none;
  border-color: #4a90e2; /* Optional: Change the border color when focused */
}

select::-ms-expand {
  display: none; /* Hides the default arrow in Internet Explorer */
}